.bold {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: ; 
    font-weight: bold;
    line-height: ;

}

.thought2 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: ;
    line-height: ;
    
}

.thought3 {

    font-family: ;
    font-size: ;
    font-weight: ;
    line-height: 50px;
    
}